p,
#intro h1 {
  color: rgba(0, 0, 0, 0.822);
}

p {
    color: #213547;
}

#intro h1 {
  text-shadow: 1px 0px 1em #213547;
  margin: 0;
}

#intro {
  display: flex;
  flex-direction: column;
  padding: 30px;
  max-width: 400px;
}

#home-main {
  display: flex;
}

#bio {
  display: flex;
  flex-direction: column;
  padding: 30px;
  max-width: 400px;
  align-items: center;
  align-self: center;
}

button {
  width: max-content;
}
