p {
  color: #213547;
}

#intro h2 {
  text-shadow: 1px 0px 1em #213547;
}

#intro {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
  align-items: center;
  position: relative;
  height: min-content;
}

#bio {
  display: flex;
  flex-direction: column;
  padding: 30px;
  max-width: 400px;
  align-items: center;
  align-self: center;
}

button {
  display: flex;
}

.bio-icons {
  display: flex;
  gap: 10px;
  padding-top: 25px;
}

.bio-icon:hover {

  filter:brightness(1.2)
}
.bio-icon:focus,
.bio-icon:focus-visible {
    filter:brightness(1.2)
}

.middle-card {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  width: max-content;
  z-index: 0;
}

/* animation side-cards */

.side-card h2 {
  font-size: 1rem;
}

.side-card {
  width: 50px;
  height: 50px;
  z-index: 1;
}

.side-card > p,
.side-card > a {
  visibility: hidden;
}

.side-card:hover {
  width: min(100%, 335px);
  height: max-content;
  z-index: 3;
  filter:brightness(1.2);
  -webkit-filter: brightness(1.2); /* Safari and Chrome */
  -moz-filter: brightness(1.2); /* Firefox */
  -o-filter: brightness(1.2); /* Opera */
}

.side-card:hover > p,
.side-card:hover > a {
  visibility: visible !important;
}

.side-card:hover h2 {
  font-size: 2.5em;
}

.left-card {
  position: absolute;
  left: 10%;
  top: 50%;
  /*transform: translateY(-10%);*/
  z-index: 1;
}

.left-card:hover {
  left: 0;
}

.right-card {
  position: absolute;
  right: 10%;
  top: 50%;
  z-index: 2;
}

.right-card:hover {
  right: 0;
}

#projects {
  margin-top: 300px;
}
