p ,#intro h1 {
color: rgba(0, 0, 0, 0.822);
}

#intro h1 {
    text-shadow: 1px 0px 1em #213547;
    margin: 0;
}

#intro {
    display: flex;
    flex-direction: column;
}

#home-main {
    padding: 30px;
}

#bio {
    display: flex;
    flex-direction: column;
}

button {
    width: max-content;
}