.project-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: transform 400ms;
    border-radius: 50%;
    object-position: top;
}


.project-card:hover {
    scale: 95%;
}

.project-card:hover .project-image {
    filter: drop-shadow(0 0 0.75rem rgb(128, 243, 232));

}

.project-card {
    /*border: 1px solid rgb(128,243,232);*/
    border-radius: 160px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 220px;
    gap: 10px;
    /*box-shadow: inset 1px 0px 1em rgb(128, 243, 232);*/
}

.tags {
display: flex;
gap: 8px;
font-size: 0.75em;
}

.tags > * {
    border: 1px solid rgba( 128, 243, 232, 0.6)white;
    background-color: rgba( 128, 243, 232, 0.6);
    border-radius: 24px;
    padding: 4px 12px;
}