.glitters-container {
  display: flex;
  gap: 60px;
}

@media (max-width: 768px) {
  .glitters-container {
    flex-direction: column;
  }
}
/*
.glitters-group1 {
    align-self: flex-start;
}

.glitters-group2 {
    align-self: flex-end;
}
*/
