.glitters-container {
  display: flex;
  gap: 60px;
}

@media (max-width: 768px) {
  .glitters-container {
    flex-direction: column;
  }
}

.glitter {
  max-width: 100%; /* Prevent images from exceeding their container */
}

.glitters-group1,
.glitters-group2 {
  flex: 1; /* Distribute available space evenly between groups */
}