.slide-container {
  display: flex;
  padding: 32px;
  overflow-x: scroll;
  width: 100%;
}

.slide-wrapper {
  display: flex;
  gap: 30px;
  overflow-x: scroll;
  width: 100%;
}

.slide-button {
    background-color: transparent;
    color: white;
}

.slide-container {
    scrollbar-width: none;
    overflow-y: hidden;
}


/* hide scrollbar but allow scrolling */
.slide-wrapper {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

.slide-wrapper::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}