.project-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  transition: scale 400ms;
  border-radius: 16px;
}

.slide-container {
  display: flex;
  padding: 30px;
  overflow-x: scroll;
  width: 100%;
}

.slide-wrapper {
  display: flex;
  gap: 30px;
  overflow-x: scroll;
  width: 100%;
}

.project-card:hover {
    filter: drop-shadow(0 0 0.75rem rgb(128, 243, 232));
    scale: 95%;
}

.project-card {
    border: 1px solid rgb(128,243,232);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px;
    box-shadow: inset 1px 0px 1em rgb(128, 243, 232);
}

#next-button {
    background-color: transparent;
}

.slide-container {
    scrollbar-width: none;
}


/* hide scrollbar but allow scrolling */
.slide-wrapper {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

.slide-wrapper::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}