.slide-container {
  display: flex;
  padding-top: 40px;
  justify-content: center;

  overflow: hidden;
}

.slide-wrapper {
  display: flex;
  gap: 30px;
  width: 85vw;
  align-items: flex-start;
  margin: 0 20px;
  overflow-x: scroll;
  scrollbar-width: none;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

.slide-button {
    background-color: transparent;
    color: white;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the image within the button */
}


/* hide scrollbar but allow scrolling */
.slide-wrapper {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

.slide-wrapper::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

@media (max-width: 768px) {
  .slide-wrapper {
    flex: 0 1 500px;
  }
}

#projects-title {
  display: none;
}
